.text-field {
    @import '../../constants/Mixins.scss';
    display: flex;
	justify-content: center;
	height: 100%;
    width: 100%;
    .icon-holder {
        display: flex;
        align-items: flex-end;
        flex-direction: column-reverse;
    }
    textarea {
        &::-webkit-scrollbar {
            display: none;
        }
        caret-color: rgb(202, 45, 202);
        font-size: 2rem;
        padding-top: 3.3rem;
        width: 100%;
        resize: none;
        overflow: auto;
        outline: none;
        border: none;
        &::placeholder {
            color: purple;
            opacity: .5;
        }
    }
    .title-input {
        &::placeholder {
            color: white;
            opacity: .5;
        }
        font-size: 1.5rem;
        min-width: 400px;
        @include input-size();
        padding: .4rem;
        caret-color: white;
        position: absolute;
        margin: 1rem;
        background-color: purple;
        color: white;
        &:focus {
            border: 1px solid purple;
        }
    }
    
    svg {
        &.loading {
            margin: .5rem;
            margin-right: .2rem;
            animation: rotate 1s infinite linear;
        }
        &.save-icon {
            margin: .5rem;
        }
        &:hover {
            cursor: pointer;
        }
    }
    
    @keyframes rotate {
        100% {
            transform: rotate(-360);
        }
    }
}