.color-picker {
    @import '../../constants/variables.scss';
    position: absolute;
    right: 1rem;
    margin-top: 1rem;
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        li {
            height: 20px;
        }
        li:hover {
            cursor: pointer;
            height: 25px;
            border: 1px solid rgb(48, 200, 238);
        }
    }

    .color-1 {
        width: 1rem;
        background-color: $color1;
    }
    .color-2 {
        width: 1rem;
        background-color: $color2;
    }
    .color-3 {
        width: 1rem;
        background-color: $color3;
    }
    .color-4 {
        width: 1rem;
        background-color: $color4;
    }
    section {
        background-color: black;
        padding: .5rem;
        border-radius: 5px;
        margin-top: .5rem;
        height: 1.5rem;
    }
}